    *{
        box-sizing: border-box;


    }
    body{

        margin: 0;
        padding:0 ;
    }
    header{

    
        width: 100%;
        height: 150px;
        background-color: #29303B;
    }
    #hizala{
    
    width:75%;
    height: auto;
    margin: auto;



    }
    #sol_kısım{

    width: 30%;
    height: 100px;
    float: left;
    margin-top: 20px;



    }
    #sol_kısım a{
        color: blanchedalmond;
        text-decoration: none;
        font-size: 18px;
    }
    #sol_kısım h1{
    padding: 0;
    margin: 0;


    }
    #sol_kısım p{
    color: blanchedalmond;
    margin: 0;
    padding: 0;
    font-size: 16px;

    }
    #sag_kısım{
   
    width: 70%;
    height: 100px;
    float: left;
    
    
    
    }
    nav {

    float:right;

    padding-top: 30px;

    }
    nav ul{
        list-style-type:none ;
        margin: 0;
        padding:0 ;


    }
    nav ul li {
        display: inline-block;
        background-color: black;
        padding: 10px 25px;
        float: left;
    }
    nav ul li a{
        color: blanchedalmond ;
        text-decoration: none;
        font-size: 16px;

    }
    nav ul li a:hover{
       color: darkcyan;

    }
    main{
        border: 1px solid black;
        width: 100%;
        height: auto;

    }
    #hizala2{
       
       width: 75%;
       height: auto; 
       margin: auto;
       padding:25px 0;
    }
    #section1{
        
        width: 100%;
        height: 360px;
        background-color: #29303B;
        padding-top: 100px;


    }
    section h1{
        color: wheat;
        font-size: 45px;
        text-align: center;



    }
    #section2{
        
        width: 100%;
        height: 400px;
        padding-top: 35px ;
    }
    #box{
        
        width: 30%;
        height: 300px;
        float: left;
        margin-right: 55px;
        


    }
    .cerceve{

        border: 2px solid black;
        width: 100%;
        height: 180px;
        padding: 2px;
    
    }
    .resim{
        background-color: black;
        width: 100%;
        height: 172px;
        padding-top: 65px;
        
    


    }
    .resim h1{
        color: wheat;
        font-size: 32px;
        text-align: center;
        margin: 0;
        padding: 0;


    }
#box h4{
margin: 0;
padding: 0;
margin-top: 8px;




}
.linkayar{
float: right;
color: teal;

}
#section3{
    
    width: 100%;
    height: 320px;



}
#part1{

width: 49%;
height: 300px;
float:left;
margin-right: 5px;


}

#part1 p{
    font-size: 18px;
    line-height: 20px;



}
#part2{
    border: 2px solid black;
    width: 50%;
    height: 300px;
    float:left;
    padding: 2px;
    
    
    }
    #resim2{
        background-color:black ;
        width: 100%;
        height: 292px;
        padding-top: 100px;


    }
    #resim2 h1{
       padding: 0;
       margin: 0;
       text-align: center;
       color: wheat;
       


    }
    footer{
border: 1px solid black;
width: 100%;
height: 300px;
background-color: #29303B;;


    }
    #part{
        
        width: 33%;
        height: 200px;
        float: left;
    }
    #part h2{
        color: beige;


    }
    #part ul{
        margin: 0;
        padding: 0;
        list-style-type: none;



    }
    #part a{
      color: beige;
      text-decoration: none;  
      font-size: 18px;


    }
    #part li {
        margin: 6px;
        color: beige;

    }
    #logo1{
        
        width: 70px;
        height: 70px;
        float: left;
        margin-right: 12px;
        background-image: url(img/facebook.png);
        background-size:cover ;
        background-repeat: no-repeat;
    }
    #logo1:hover{
background-image: url(img/facebookHover.png);



    }
    #logo2{
        
        width: 70px;
        height: 70px;
        float: left;
        background-image: url(img/instagram.png);
        background-size:cover ;
        background-repeat: no-repeat;
    }
    #logo2:hover{
        background-image: url(img/instagramHover.png);
        
        
        
            }

